@mixin button($backgroundColor, $borderColor) {
  cursor: pointer;
  padding: 1rem;
  width: max-content;
  height: max-content;
  min-width: 10rem;
  border-radius: var(--borderRadius);
  border: 2px solid $borderColor;
  background-color: $backgroundColor;
  color: var(--foreground);
  font-weight: 600;
  transition: opacity 0.15s;

  &:disabled {
    opacity: 0.35;
    cursor: not-allowed;
  }
}

// VARIANTS

.primary {
  @include button(var(--color-primary), var(--color-secondary));
}
.secondary {
  @include button(var(--color-secondary), var(--color-primary));
}
.danger {
  @include button(var(--color-danger), var(--color-primary));
  background-color: var(--color-danger);
}

// SIZES
.small {
  min-width: none;
  padding: 0.2rem 0.5rem;
  font-size: 1.1rem;
}

.medium {
  min-width: 10rem;
  padding: 0.5rem;
  font-size: 1.3rem;
}

.large {
  min-width: 20rem;
  padding: 1rem;
  font-size: 1.6rem;
}
