.header {
  padding: 1rem;
  background-color: var(--color-primary);
  .navigation {
    display: flex;
    justify-content: space-between;
    .logoBox {
      position: relative;
      height: 100px;
      width: 120px;
    }
    .logout {
      cursor: pointer;
    }
  }
}
