.layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: minMax(max-content, 100px) 1fr minMax(100px, max-content);
}

.header {
  padding: 1rem;
  background-color: var(--color-primary);
  .navigation {
    display: flex;
    justify-content: space-between;
  }
}

.mainContent {
  padding: 1rem;
  height: 100%;
}

.footer {
  padding: 1rem;
  background-color: var(--color-primary);
}
